.Row:after {
    content: "";
    display: table;
    clear: both;
  }

.Column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin-left: 150px;
}  

.Title{
    text-align: center;
    border: 2px solid black;
    background-color: #87CEFA;
    margin: 10px;
    border-radius: 5px;
}

.Desc{
    text-align: center;
    background: #ADD8E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.Name{
    text-align: left;
    border: 2px solid black;
    background-color: #87CEFA;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

label{
    margin: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 2px;
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 2px solid gray;
    border-radius: 5px;
}

input{
    margin: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    width: 100%;
    border: 2px solid gray;
}

button{
    margin: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.item-list{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    list-style-type: none;
}

.expense{
    border-right: 5px solid red;
    list-style-type: none;
}

.income{
    border-right: 5px solid green;
}

.report-container{
    display: flex;
    justify-content: space-between;
    background: #ADD8E6;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.report-container>div{
    flex: 1;
    text-align: center;
}

.report-container>div:first-of-type{
    border-right: 3px solid #fff  ;
}

.report{
    font-size: 20px;
    letter-spacing: 1px ;
    margin: 5px 0;
}

.report.plus{
    color: #2ecc71;
}

.report.minus{
    color: red;
}